.card-body.custom{
   /* height: 500px; */
}

.custom-container{
}

.custom-container > .content{
   max-height: 450px;
   overflow-y: scroll;
}

.container_map_address{
   width: 100%;
   height: 300px;
   background-color: #ccc;
   animation: placeholder infinite 1s ease;
}

@keyframes placeholder {
   0%{
      background-color: #ccc;
   }
   50%{
      background-color: #bbb;
   }
   100%{
      background-color: #ccc;
   }
}